#root {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

p {
  margin: 0;
}

.app-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal {
    position: absolute;
    inset: 0;
    background: rgba(0 0 0/0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;

}